<br>
<br>
<center><h1>Food Categories</h1>
<h3>Choose your food.</h3></center>
<br>
<br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Vegetables</div>
        <div class="panel-body"><%= image_tag 'vegets.jpg', class: 'img-responsive', style: 'width:100%' , alt: 'Image'%></div>
        <div class="panel-footer"><%= link_to 'Vegetables', categories_vegetables_path, class: "btn btn-primary"  %></div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Canned Food</div>
        <div class="panel-body"><%= image_tag 'cans.jpg', class: 'img-responsive', style: 'width:100%' , alt: 'Image'%></div>
        <div class="panel-footer"><%= link_to 'Canned Food', categories_canned_food_path, class: "btn btn-primary"  %></div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Bottled Drinks</div>
        <div class="panel-body"><%= image_tag 'bottled.jpg', class: 'img-responsive', style: 'width:100%' , alt: 'Image'%></div>
        <div class="panel-footer"><%= link_to 'Bottled Drinks', categories_bottled_drinks_path, class: "btn btn-primary"  %></div>
      </div>
    </div>
  </div>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Baked Goods</div>
        <div class="panel-body"><%= image_tag 'baked.jpg', class: 'img-responsive', style: 'width:100%' , alt: 'Image'%></div>
        <div class="panel-footer"><%= link_to 'Baked Goods', categories_baked_goods_path, class: "btn btn-primary"  %></div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Fruits</div>
        <div class="panel-body"><%= image_tag 'fruits.jpg', class: 'img-responsive', style: 'width:100%' , alt: 'Image'%></div>
        <div class="panel-footer"><%= link_to 'Fruits', categories_fruits_path, class: "btn btn-primary"  %></div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">Candy and Sweets</div>
        <div class="panel-body"><%= image_tag 'candies.jpg', class: 'img-responsive', style: 'width:100%' , alt: 'Image'%></div>
        <div class="panel-footer"><%= link_to 'Sweets', categories_sweets_path, class: "btn btn-primary"  %></div>
      </div>
    </div>
  </div>



        