<h1>Candy and Sweets</h1>

<% @sweets.each do |sweet| %>
<div class="container-fluid">
<div class="col-sm-4">
<div class="panel panel-success">
        <div class="panel-heading"><%= sweets.title %></div>
        <div class="panel-body"><%= image_tag sweet.food_item_image(:medium) %></div>
        <div class="panel-footer">
            <strong>Pick up at (PLACE):</strong><%= sweet.address %><br>
            <strong>Pick up at (TIME):</strong><%= sweet.available_start %>
            <%= sweet.available_end %></div>
      </div>
      </div>
<% end %>
</div>